{% extends 'layout/basic.html' %}

{% load thumbnail %}
{% load static %}
{% load bootstrap4 %}

{% block title %}{{ tag }}{% endblock %}

{% block content %}
    <h2 class="mb-2">{{ tag }}</h2>
    <div class="container-fluid mb-2">
        <div class="row">
            <div class="col">&nbsp;</div>
            <form class="col-md-auto form-inline">
                {% bootstrap_form form show_label=False %}
                {% bootstrap_button content='Search' button_type='submit' %}
            </form>
        </div>
    </div>
    {% if pps %}
        <ul class="list-unstyled">
            {% for pp in pps %}
            <li class="media my-5 p-3 border">
                {% url 'paintsite:detail' tag_pk=tag.pk pk=pp.pk as url %}
                <a href="{{ url }}{{ all }}">
                    <img class="mr-3" src="{% thumbnail pp.image 'default' %}">
                </a>
                <div class="media-body">
                    <h3><a href="{{ url }}{{ all }}">
                        {{ pp.title }}
                    </a></h3>
                    <div>{{ pp.description }}</div>
                    <p class="text-right font-italic">{{ pp.created_at }}</p>
                </div>
            </li>
            {% endfor %}
        </ul>
        {% bootstrap_pagination page url=keyword %}
    {% endif %}
{% endblock %}