{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Title</title>

    {% bootstrap_css %}
    <link rel="stylesheet" type="text/css"
    href="{% static 'styles/test.css' %}">
    {% bootstrap_javascript jquery='slim' %}

</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header nav">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-lg fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#intro">
                <i class="fa fa-male"></i>  <span class="light">CODE</span>DESIGN
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section
                <li class="hidden">
                    <a href="#page-top"></a>
                </li> -->
                <li>
                    <a class="page-scroll" href="#about">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="#download">Download</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
{% block content %}
{% endblock %}
</body>
</html>