{% load static %}
<link rel='stylesheet' type='text/css' href="{% static 'styles/paint_style.css' %}">

{% block content %}
	<div id="toolbar" style="z-index: 3">
		<div id="rad">
			<input type="checkbox" id="fill"/>Fill
    		<input type="checkbox" id="outline" checked="checked"/>Outline
    		<br><div id="fulname">File Name: <label id="name" ></label></div>
    		<p><div id="thick">Size: <select id="selclr" onchange="width()">
     			<option value=1 selected>2px</option>
     			<option value=5 >6px</option>
     			<option value=10>10px</option>
     			<option value=12 >12px</option>
     			<option value=14>14px</option>
     			<option value=18 >18px</option>
    		</select></div></p>
		</div>
		<div id="colors">
            <input type="color" id="background_color">
            <input type="color" id="line_color">
		</div>
	</div>
	<div id="footbar" style="z-index: 2">
		<div id="shapset">
			<button id="clear" class="shape" onclick="reset()">Clear</button>
			<button id="circle" class="shape" onclick="set_tool('circle')">Ellipse</button>
			<button id="rectangle" class="shape" onclick="set_tool('rectangle')">Rectangle</button>
			<button id="line" class="shape" onclick="set_tool('line')">Line</button>
			<button id="polygon" class="shape" onclick="set_tool('polygon')">Polygon</button>
			<button id="chain" class="shape" onclick="set_tool('polygonal_chain')">Chain</button>
		</div>
		<div id="filename">
			<input id="fname">
			<button id="tools" class="shape">SAVE</button>
			</div>
		</div>
	</div>

	<canvas  id="canvas" width="1360" height="530" style=" background-color: #ffffff; z-index: 0"></canvas>
	<canvas  id="pre_canvas" width="1360" height="530" style="z-index: 1"></canvas>

    {% load static %}
    {# scripts #}
    <script defer src="{% static 'scripts/figure.js' %}"></script>
    <script defer src="{% static 'scripts/line.js' %}"></script>
    <script defer src="{% static 'scripts/polygonal_chain.js' %}"></script>
    <script defer src="{% static 'scripts/polygon.js' %}"></script>
    <script defer src="{% static 'scripts/ellipse.js' %}"></script>
    <script defer src="{% static 'scripts/rectangle.js' %}"></script>
    <script defer src="{% static 'scripts/drawer.js' %}"></script>
    <script defer src="{% static 'scripts/simple_figure_drawer.js' %}"></script>
    <script defer src="{% static 'scripts/complex_figure_drawer.js' %}"></script>
    <script defer src="{% static 'scripts/manager.js' %}"></script>
    <script defer src="{% static 'scripts/main.js' %}"></script>
{% endblock %}
