#figure_list {
    box-sizing: border-box;
	position: absolute;
	right:0;
	top:10%;
	width: 20%;
	height: 80%;
	padding: 0 15px 15px;
	display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.figure_item {
	position: relative;
    width: 25%;
    height: auto;
	/*aspect-ratio: 1/1;*/
	horiz-align: center;
    border-radius: 4px;
    transition: all 0.2s;
    padding: 5px;
    box-sizing: border-box;
	margin-bottom: 10px;
	background-color: rgb(110, 110, 110, .5);

	text-align: center;
}